* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(3, 3, 35);
  color: white;
  font-family: "Poppins", system-ui;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 75px;
  background-color: rgb(15, 15, 60);
}

.right ul li {
  list-style: none;
  margin: 0px 25px;
}
#btn {
  width: 125px;
  height: 30px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: rgb(64, 63, 145);
}
.right ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.left {
  font-size: 1.5rem;
  font-weight: 700;
}
.firstsection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px 0;
  /* background-color: white; */
}
.firstsection > div {
  width: 30%;
}
.leftsection {
  font-size: 2rem;
}
.rightsection img {
  width: 100%;
}
.purple {
  color: purple;
}
nav ul a {
  text-decoration: none;
  color: white;
}
nav ul a:hover {
  color: rgb(197, 150, 209);
}

.aboutBtn {
  display: flex;
  justify-content: space-around;
  background-color: rgb(64, 63, 145);
  width: 60%;
  align-items: center;
  border-radius: 50px;
  padding: 10px;
}

.aboutBtn button i {
  position: relative;
  margin-bottom: 8px;
  font-size: 25px;
  left: 20px;
}
.aboutBtn button {
  position: relative;
  font-size: 30px;
  font-weight: 500;
  left: 5px;
  width: 100%;
  background-color: rgb(64, 63, 145);
  border: 0 solid rgb(64, 63, 145);
  border-radius: 30px;
}
.aboutBtn button a {
  text-decoration: none;
  color: black;
}
.icons {
  position: relative;
  left: -65px;
  /* background-color: bisque; */
  height: 125px;
}
.icons ul li:hover {
  /* box-shadow: 0px 0px 20px white; */
  filter: drop-shadow(0 -2mm 9mm white);
}
.icons ul li a i:hover {
  font-size: 52px;
}
.icons ul li {
  text-decoration: none;
  display: inline-block;
  margin: 18px 18px;
}
.icons ul li a {
  color: white;
}
.icons ul li a i {
  font-size: 50px;
}
hr {
  border: 0 solid white;
  background-color: white;
  height: 1px;
  margin: 112px 133px 40px 133px;
}

.fourthsection{
  text-align: center;
  width: 100%;
  /* background-color: blueviolet; */
}
.fourthsection h2{
  font-size: 55px;
  font-weight: 700;
}
.project1{
  position: relative;
  margin: 30px;
  top: 50px;
  left: 160px;
  width: 75%;
  height: 225px;
  /* background-color: brown; */
  text-align: center;
  border: 2px solid blueviolet;
  /* border-top: 3px solid rgb(27, 27, 70) ; */
  border-radius: 15px;
}
.project1 h2{
  font-size: 45px;
  font-weight: 600;
}
.project1 a button{
  background-color: purple;
  border: 2px solid purple;
  width: 150px;
  height: 35px;
  border-radius: 10px;
}